In [7]:
import pyspark as ps
from pyspark.sql.functions import col
spark = ps.sql.SparkSession.builder \
            .master("local[4]") \
            .appName("Colorado-Addresess") \
            .getOrCreate()
sc = spark.sparkContext

!ls

 Addresses	        Boulder_addresses.csv
'Addresses 2'	        Broomfield-Addresses.csv
'Addresses 3'	        centennial_addresses.csv
 addresses.zip	       'Glendale Street Address Locator tax purposes.doc'
 AddressPoints	        suburbs.ipynb
 AddressPoints.zip      thornton_Addresses.csv
 aurora_addresses.csv   Untitled.ipynb

In [4]:
aurora_df = spark.read.csv('aurora_addresses.csv',
                         header=True,       # use headers or not
                         quote='"',         # char for quotes
                         sep=",",           # char for separation
                         inferSchema=True)

boulder_df = spark.read.csv('Boulder_addresses.csv',
                            header=True,
                            quote='"',
                            sep=",",
                            inferSchema=True)

broomfield_df = spark.read.csv('Broomfield-Addresses.csv',
                            header=True,
                            quote='"',
                            sep=",",
                            inferSchema=True)


centennial_df = spark.read.csv('centennial_addresses.csv',
                            header=True,
                            quote='"',
                            sep=",",
                            inferSchema=True)

thornton_df = spark.read.csv('thornton_Addresses.csv',
                            header=True,
                            quote='"',
                            sep=",",
                            inferSchema=True)

In [40]:
# aurora_df.printSchema()
# aurora_df.select('CITY').show()

# rename columns
aurora_df = aurora_df.withColumnRenamed("ADDRESS", "address")\
       .withColumnRenamed('CITY', 'city')

aurora_sample = aurora_df.select('address', 'city').filter(col('CITY') == 'Aurora')\
         .distinct().rdd.takeSample(False, 250, seed=463)


# create new dataframe yoooo
aurora_sample_df = spark.createDataFrame(aurora_sample).show()


# aurora_df.select('ADDRESS').show()

+--------------------+------+
|             address|  city|
+--------------------+------+
|1540 N BILLINGS S...|Aurora|
|      1926 N LIMA ST|Aurora|
| 1748 S DEARBORN WAY|Aurora|
|16193 E DICKENSON PL|Aurora|
|      2030 N IOLA ST|Aurora|
|    5034 S GRANBY ST|Aurora|
|   12469 E CEDAR CIR|Aurora|
|   9774 E FLORIDA PL|Aurora|
|   11591 E CEDAR AVE|Aurora|
|    1930 N CEYLON ST|Aurora|
|    26584 E CALEY DR|Aurora|
|     907 N VICTOR ST|Aurora|
|   1671 N BISCAY CIR|Aurora|
|   24396 E PLATTE PL|Aurora|
| 15913 E COLUMBIA PL|Aurora|
|  13671 E CENTER AVE|Aurora|
|   1200 S BUCKLEY RD|Aurora|
|   1356 S SALIDA WAY|Aurora|
|     15380 E IOWA PL|Aurora|
| 3468 S KITTREDGE ST|Aurora|
+--------------------+------+
only showing top 20 rows

In [39]:
# boulder_df.printSchema()
# boulder_df.select('CITY').show()

boulder_df = boulder_df.withColumnRenamed("ADDRESS", "address")\
       .withColumnRenamed('CITY', 'city')

# boulder_df.select('ADDRESS').show()
boulder_sample = boulder_df.select('address', 'city').filter(col('CITY') == 'BOULDER')\
          .distinct().rdd.takeSample(False, 250, seed=463)


# create new dataframe yoooo
boulder_sample_df = spark.createDataFrame(boulder_sample).show()

+--------------------+-------+
|             address|   city|
+--------------------+-------+
|       325 S 40TH ST|BOULDER|
|       5145 SIOUX DR|BOULDER|
|     1624 BRADLEY DR|BOULDER|
|921 MAXWELL AVE, ...|BOULDER|
|  3057 LITTLELEAF LN|BOULDER|
|   2350 ARAPAHOE AVE|BOULDER|
|        839 PEARL ST|BOULDER|
|      2130 VASSAR DR|BOULDER|
|4846 BRANDON CREE...|BOULDER|
|         944 10TH ST|BOULDER|
|4500 19TH ST, UNI...|BOULDER|
|3701 ARAPAHOE AVE...|BOULDER|
|1155 CANYON BLVD,...|BOULDER|
|3100 34TH ST, BLDG G|BOULDER|
|         690 55TH ST|BOULDER|
|    702 BROOKLAWN DR|BOULDER|
|755 W MOORHEAD CI...|BOULDER|
|   3305 LAFAYETTE DR|BOULDER|
|3077 29TH ST, UNI...|BOULDER|
|1035 PEARL ST, UN...|BOULDER|
+--------------------+-------+
only showing top 20 rows

In [35]:
# broomfield_df.printSchema()

# broomfield_df.select('FULL_ADDRESS').show()

# rename column
broomfield_df = broomfield_df.withColumnRenamed("FULL_ADDRESS", "address")\
       .withColumnRenamed('CITY', 'city')


broomfield_sample = broomfield_df.select('address', 'city').filter(col('CITY') == 'BROOMFIELD')\
             .distinct().rdd.takeSample(False, 250, seed=463)

# broomfield_df.select('CITY').show()


# create new dataframe yoooo
broomfield_sample_df = spark.createDataFrame(broomfield_sample).show()

+--------------------+----------+
|             address|      city|
+--------------------+----------+
|     12705 JULIAN CT|BROOMFIELD|
|     15398 SPRUCE ST|BROOMFIELD|
|    1430 W 170TH AVE|BROOMFIELD|
|  4945 SAGE BRUSH DR|BROOMFIELD|
|       801 W 4TH AVE|BROOMFIELD|
|  1167 MC INTOSH AVE|BROOMFIELD|
|  243 POWDERHORN TRL|BROOMFIELD|
|1196 OPAL ST UNIT...|BROOMFIELD|
|8441 PARKLAND ST ...|BROOMFIELD|
|      12585 VRAIN ST|BROOMFIELD|
|1065 E 9TH AVE AP...|BROOMFIELD|
|       12634 KNOX PT|BROOMFIELD|
|  13374 BRIARWOOD DR|BROOMFIELD|
|1120 OPAL ST GAR 14B|BROOMFIELD|
|      17786 OLIVE ST|BROOMFIELD|
|11545 DESTINATION...|BROOMFIELD|
|13650 VIA VARRA A...|BROOMFIELD|
|   3221 BECKWITH RUN|BROOMFIELD|
|   16522 LOWELL BLVD|BROOMFIELD|
|    2612 REDCLIFF DR|BROOMFIELD|
+--------------------+----------+
only showing top 20 rows

In [34]:
# centennial_df.printSchema()
centennial_df.select('city').show()


# filter((!col("Name2").rlike("[0-9]")) | (col("Name2").isNotNull))
# print(centennial_df.select('IS_RESIDENTIAL').count()) 

#rename column
centennial_df = centennial_df.withColumnRenamed("FULLADDR", "address")\
       .withColumnRenamed('city', 'city')

centennial_sample = centennial_df.select('address', 'city').filter((col('IS_RESIDENTIAL') == 'RES') &\
                                                (col('city') == 'CENTENNIAL')).distinct()\
                                                .rdd.takeSample(False, 250, seed=463)
# centennial_df.select('FULLADDR', 'IS_RESIDENTIAL').filter(col('IS_RESIDENTIAL') == 'RES').show()

# create new dataframe yoooo
centennial_sample_df = spark.createDataFrame(centennial_sample).show()

+----------+
|      city|
+----------+
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
|CENTENNIAL|
+----------+
only showing top 20 rows

+--------------------+----------+
|             address|      city|
+--------------------+----------+
|  8192 S EMERSON WAY|CENTENNIAL|
|   6585 S SHERMAN ST|CENTENNIAL|
|   3099 E WEAVER AVE|CENTENNIAL|
|  6150 S ROSEWOOD DR|CENTENNIAL|
| 7675 S MONACO CIR W|CENTENNIAL|
| 4452 E PEAKVIEW AVE|CENTENNIAL|
|  7153 S NEWPORT WAY|CENTENNIAL|
|      6700 S COOK ST|CENTENNIAL|
| 5751 S KALISPELL CT|CENTENNIAL|
|  6080 E HINSDALE CT|CENTENNIAL|
|   6544 S POTOMAC CT|CENTENNIAL|
|    5974 S HELENA ST|CENTENNIAL|
|7600 E CALEY AVE ...|CENTENNIAL|
|  19951 E RED FOX LN|CENTENNIAL|
| 19282 E HINSDALE LN|CENTENNIAL|
| 17523 E PROGRESS DR|CENTENNIAL|
|    6201 S ASH CIR W|CENTENNIAL|
|    5422 S BAHAMA CT|CENTENNIAL|
|6651 S VINE ST AP...|CENTENNIAL|
|     5924 E IRWIN PL|CENTENNIAL|
+--------------------+----------+
only showing top 20 rows

In [33]:
# thornton_df.printSchema()


#rename column
thornton_df = thornton_df.withColumnRenamed("address", "address")\
       .withColumnRenamed('city', 'city')

thornton_sample = thornton_df.select('address', 'city').filter(col('CITY') == 'THORNTON').distinct()\
.rdd.takeSample(False, 250, seed=463)


# create new dataframe yoooo
thornton_sample_df = spark.createDataFrame(thornton_sample).show()

+--------------------+--------+
|             address|    city|
+--------------------+--------+
|11801 YORK ST APT...|THORNTON|
|     2923 E 116TH PL|THORNTON|
|        2570 HOYT DR|THORNTON|
|     11920 MONROE ST|THORNTON|
|       80 W 84TH AVE|THORNTON|
|    406 STARLIGHT RD|THORNTON|
|13022 GRANT CIR E...|THORNTON|
|     5102 E 108TH PL|THORNTON|
|8915 CORONA ST AP...|THORNTON|
|501 E 102ND AVE B...|THORNTON|
|    9826 WILLIAMS CT|THORNTON|
|   13635 CLERMONT CT|THORNTON|
|9595 PECOS ST LOT 64|THORNTON|
|3351 E 120TH AVE ...|THORNTON|
|   9481 DOROTHY BLVD|THORNTON|
|4165 E 119TH PL A...|THORNTON|
|    46 BLUE HERON DR|THORNTON|
|14310 GRANT ST UN...|THORNTON|
|  13251 ELIZABETH ST|THORNTON|
|    4948 E 125TH AVE|THORNTON|
+--------------------+--------+
only showing top 20 rows